{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/recommended",
        "plugin:import/typescript",
        "plugin:react-hooks/recommended"
    ],
    "plugins": ["react", "@typescript-eslint", "import"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json"
    },
    "rules": {
        "no-console": "warn",
        "guard-for-in": "error",
        "no-empty": "error",
        "no-shadow": "error",
        "import/no-cycle": "off",
        "import/namespace": "off",
        "import/named": "off",
        "import/no-unresolved": "off", // FIXME: Figure out how to make this enabled
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/ban-ts-ignore": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/no-floating-promises": "error",
        "@typescript-eslint/no-misused-promises": [
            "error",
            {
                "checksVoidReturn": false
            }
        ],
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/ban-types": "off"
    },
    "overrides": [
        {
            "files": ["*.ts"],
            "rules": {
                "@typescript-eslint/strict-boolean-expressions": "error"
            }
        }
    ]
}
