# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build

on: [workflow_dispatch]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js 20
              uses: actions/setup-node@v4
              with:
                  node-version: 20.10.0
            - run: npm install
            - run: npm run build
            - run: npm run test -- --coverage
            - run: npm run test-source
            - run: npm run test-cells
            - run: npm run test-projects
            # - name: Coveralls
            #   uses: coverallsapp/github-action@master
            #   with:
            #       github-token: ${{ secrets.GITHUB_TOKEN }}
            #       path-to-lcov: ./packages/core/coverage/lcov.info
            #       base-path: ./packages/core
    test-react-18:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 20.10.0
            - run: npm install
            - run: npm run test-18
